.total_card {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #f6fbff;
}

.total_card:hover {
    background-color: rgba(65, 176, 250, .3);
}

.share_link {
    display: flex;
    flex-direction: column;
}


.card-body p {
    font-size: 15px;
    font-weight: 550;
    color: #70757c;
}

.card_footer {
    background-color: #e7e7e7;

}

.card_link {
    width: 100%;
    border-radius: 10px;
}

.share_link {
    font-size: 24px;
}

.share_link span {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 550;
    color: #70757c;
    margin-left: 20px;
}

.share_link .watsapp {
    color: #46c85a;
    font-size: 36px;
    margin-left: 20px;
}

.share_link .facebook {
    color: #1d75f4;
    font-size: 36px;
    margin-left: 10px;
}

.share_link .twitter {
    color: #1ca3f2;
    font-size: 36px;
    margin-left: 10px;
}

.share_link h4 {
    padding: 12px;
}

.share_link .rightarrow {
    font-size: 30px;
}

.dash_icon {
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 480px) {
    .total_card {
        padding: 8px;
        cursor: pointer;
        border-radius: 10px;
        height: 70px;
        background-color: #f6fbff;
    }

    .total_card p {
        font-size: 10.5px;
    }

    .total_card h4 {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .dash_icon {
        height: 32px;
        width: 28px;
    }
}